{% extends "base.html" %}
{% block content %}
    <h1>This is all the leads list</h1>
    <p>Here is the custom HTML template</p>
    {% for lead in leads %}
        <div class="lead">
            <a href="{% url 'detail' lead.pk %}">{{ lead.first_name }} {{ lead.last_name }}</a>. Age:{{ lead.age }}
            <a href="{% url 'edit' lead.pk %}" style="margin-right: 10px">
                <button>Edit</button>
            </a>
            <a href="{% url 'delete' lead.pk %}" style="float: right">
                <button>Delete</button>
            </a>
        </div>
    {% endfor %}
    <a href="{% url 'create' %}">
        <button style="margin-top: 10px">Create New Lead</button>
    </a>
{% endblock content %}